body {
            font-family: Arial, sans-serif;
            text-align: center;
        }

        h2, h3 {
            margin: 5px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
            font-size: 14px;
        }

        th, td {
            border: 1px solid #999;
            padding: 8px;
            vertical-align: top;
            text-align: center;
        }

        th {
            background-color: #f2f2f2;
        }

        /* Subject background colors */
        .aec { background-color: #00A651; color: white; }
        .web { background-color: #F7931E; }
        .os { background-color: #B6D7A8; }
        .ds { background-color: #C9DAF8; }
        .ge { background-color: #E6B8AF; }
        .sec { background-color: #00B0F0; color: white; }
        .vac { background-color: #FFD966; }